<form method="post">
    {% csrf_token %}

    <label for="id_username">Username:</label>
    {{ form.username }}

    <br><br>

    <label for="id_useremail">Email:</label>
    {{ form.useremail }}

    <br><br>


    <label for="id_usercontactnumber">Contact Number:</label>
    {{ form.usercontactnumber }}

    <br><br>


    <label for="id_userpassword">Password:</label>
    {{ form.userpassword }}

    <br><br>

    <label for="id_usergroupid">User Group:</label>
    {% if request.user.usergroupid.usergroupname.lower == "admin" %}
        {{ form.usergroupid }}
    {% else %}
        <select name="usergroupid" id="id_usergroupid">
            {% for group in form.usergroupid.field.queryset %}
                {% if group.usergroupname.lower != "admin" %}
                    <option value="{{ group.pk }}">{{ group.usergroupname }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}

    <br><br>

    <label for="id_usergender">Gender:</label>
    {{ form.usergender }}

    <br><br>

    <label for="id_userdob">Date of Birth:</label>
    {{ form.userdob }}

    <br><br>

    <label for="id_useraadhaarnumber">Aadhaar Number:</label>
    {{ form.useraadhaarnumber }}

    <br><br>

    <label for="id_userpannumber">PAN Number:</label>
    {{ form.userpannumber }}

    <br><br>


    <label for="id_isactive">Is Active:</label>
    {{ form.isactive }}

    <br><br>

    <button type="submit">Create User</button>
</form>
