
{% extends 'accounts\base.html' %}
{% block content %}
    <h2>User Details</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.useremail }}</p>
    <p><strong>Contact:</strong> {{ user.usercontactnumber }}</p>
    <p><strong>Gender:</strong> {{ user.usergender }}</p>
    <p><strong>Group:</strong> {{ user.usergroupid.usergroupname }}</p>
    <p><strong>Created By:</strong> {{ user.createdby }}</p>
    <p><strong>Created Date:</strong> {{ user.createddate }}</p>
    <a href="{% url 'user_list' %}">Back to User List</a>
    {% endblock %}